{% extends "layout.html" %}
{%block content %}
    <br>
    <br>
    {% if data %}
    <table class="table table-bordered">
        <caption style="text-align: center">Reports for {{user}}</caption>
        <tr>
            <th style="text-align: center">Report</th>
          </tr>
      
        {% for report in data %}
          {% if  report %}
            <tr>
              <td style="text-align: center">{{report}}</td>
            </tr>
          {% endif %}
        {% endfor %}
          
      
    </table>
    {% endif %}
{% endblock content %}